
@media screen and (max-width: 1500px) {
    #gallery {
        grid-template-columns: auto;
    }
}

@media screen and (max-width: 900px) {
    .proj-title-year{
        font-size: 1rem;
        font-weight: 200;
    }
    
    .proj-title{
       line-height: 1.9;
        font-size: 2rem;
        font-weight: 600;
    }  
    
    .page-intro{
        width: 80%;
    }
    .page-title{
    justify-self: center;
    font-weight: 500;
    font-size: 2rem;
    }

/* Mobile or narrow screen Nav */
    .desktop-nav{
        margin-top: 1rem;
    }
    .nav-links{
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .nav-links > * {
        font-size: 1.25rem;
        padding-bottom: .5rem;
    }
    
    .nav-links__active{
        text-underline-offset: .3rem; 
    }

    #Top-button{
        display: none;
    }

}

@media screen and (max-width: 1000px) {
    #about-container{
        display: block;
    }

    #profile-picture-container{
        max-width: 315px;
    }
}

