/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    /*<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name */

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* background-color: darkgrey; */
}

main{
    min-height: 72vh;
}

nav, main, .page-button-container, #footer-container{
    width: min(80%, 2400px);
    margin-left: auto;
    margin-right: auto;
}

html{
    scroll-behavior: smooth;
}

.paragraph-highlight{
    font-weight: 600;
}

/* TRANSITION */

a, .btn{
    transition: all 200ms ease;
}

/* DESKTOP NAV */

nav, 
.nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-content: center;
}

nav{
    justify-content: space-between;
    min-height: 20vh;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    
}

a{
    color: grey;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover{
    color: black;
    font-weight: 400;
}

.nav-links__active{
    text-decoration: underline;
    text-underline-offset: .5rem;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
    color: black;
}

.logo:hover{
    font-weight: 800;
}

/* PAGE BUTTONS */

.page-button-container{
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;

}

.page-button{
    font-size: 1.25rem;
}

/* FOOTER */

footer{
    min-height: 8vh;
    margin-top: 6em;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: rgb(248,248,248);
    color: gray;
    font-size: .85rem;
}

#footer-container{
    display: flex;
    justify-content: space-between;
}

#footer-container #footer-logo,#Top-button,#socials-container{
    flex: 1;
    align-content: center;
}

#Top-button{
    text-align: center;
}

#socials-container{
    display: flex;
    justify-content: end;
    gap: .5rem;
    min-height: 2.5rem;
}

#socials-container p,a{
    align-content: center;
}

.icon{
    cursor: pointer;
    height: 1.8rem;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
    text-align: center;
}

.icon:hover{
    cursor: pointer;
    height: 1.95rem;
    opacity: 1;
}

#built-by{
    margin-top: 2rem;
    text-align: center;
    color: rgb(180, 180, 180);
}