#about-container {
    display: flex;
    gap: max(5vw,50px);
}


.about-text{
    display: block;
    /* margin-right: 10vw; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.about-paragraph{
    margin-bottom: 30px;
    font-size: 1.25rem;
}

#profile-picture-container{
    max-width: 450px;
    min-width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: auto;
}

#profile-picture{
    max-width: 100%;
}